node_modules
dist
coverage
tests
electron
docs
database.sqlite*
database.json*
test_temp.sqlite*
.git
.github
.vscode
.vs
.env
.env.*
.DS_Store
npm-debug.log*
*.bat
vitest.config.mjs
electron-builder.json
wrangler.toml
